<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinProject"
        tools:targetApi="31">
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".Create_ticket"
            android:exported="true" />
        <activity
            android:name=".Employees"
            android:exported="true" />
        <activity
            android:name=".Clients"
            android:exported="true" />
        <activity
            android:name=".filter_tickets"
            android:exported="true" />
        <activity
            android:name=".Ticket_information"
            android:exported="true" />
        <activity
            android:name=".Sign_up"
            android:exported="true" />
        <activity
            android:name=".Tickets"
            android:exported="true" />
        <activity
            android:name=".Home_page"
            android:exported="true" />
        <activity
            android:name=".Forget_pass_otp_three"
            android:exported="true" />
        <activity
            android:name=".Forget_pass_otp_two"
            android:exported="true" />
        <activity
            android:name=".Forget_Pass_OTP_one"
            android:exported="true" />
        <activity
            android:name=".Log_in"
            android:exported="true" />
        <activity
            android:name=".Welcoming_one"
            android:exported="true" />
        <activity
            android:name=".Landing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>